	<%= simple_form_for(@article)  do |f| %>
			<%= f.input :title, label: 'Titel' %>
			<%= f.input :tag_list, label: 'Tags' %>
			<%= f.input :text, label: 'Text', class:'summernote'%>

				<div class="form-group">
      				<div class="col-lg-10 col-lg-offset-2">
  			<%= f.button :submit, 'Senden', class: 'btn btn-success'%>
					</div>
				</div>

	<% end %>