<h1><p class="text-primary">
	<%= @article.title %>
</h1></p>

<p>

<hr>

<h5><p class="text-muted">Artikel wurde vor <%= time_ago_in_words(@article.created_at) %> verfasst</p></h5>

<p>
	<%= raw @article.text %>
</p>

<%= link_to "Zurück", articles_path, class: 'btn btn-default' %>

<% if user_signed_in? %>
<%= link_to "Löschen", article_path(@article), class: 'btn btn-danger', method: :delete, data: {confirm: "Soll der Artikel wirklich gelöscht werden?"} %>
<%= link_to "Editieren", edit_article_path(@article), class: 'btn btn-primary' %>
<% end %>